body
{
  margin: 0;
}

.oc-main-inscription-forum
{
    display: flex;
    flex-direction: column;
	height:fit-content;
}
.oc-section-deventure
{
	background-image: url(imgback/oc-back-ville1.jpg) ;
	background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
.oc-body-incription
{
	text-align: center;
	width: 100%;
}
.oc-tablinscri
{
	    border: solid #00ff7470 2px;
    width: 40%;
    margin: auto;
    padding: 3%;
    margin-top: 5%;
    background-color: #04755ea3;
    color: white;
    text-align: center;
    box-shadow: 10px 11px 26PX #4caf7db3;
}
.buton-inscription
{
 width: 14%;
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: #00d424ba;
    font: bold 13px Arial;
    color: #fff;
    box-shadow: 2px 2px black;
    height: 7%;
    margin: auto;
}   
.oc-titre-inscr
{
	color: white;
    font-size: 50px;
    margin-top: 3%;
    text-shadow: 8px 8px 12px #0d8e28;
}
.oc-tablinscri
 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

}