footer
{
	position: absolute; bottom;
	justify-content: space-around;
    background: #e4e4e4;
    height: 10%;
    width: 100%;
}
a
{
	text-decoration: none;
}
.oc-color-blue
{
	color: blue;
	    text-shadow: 3px 2px 4px black;
    font-size: 22px;
}
.oc-color-white
{
	color: white;
	    text-shadow: 3px 2px 4px black;
    font-size: 22px;
}
.oc-color-red
{
	color: red;
	    text-shadow: 3px 2px 4px black;
    font-size: 22px;
}