.oc-img-profil
{
	border: solid #07829ade 3PX;
    width: 14%;
    height: 26%;
    border-radius: 100%;
    box-shadow: #0039a2 5px 5px 11PX;
}
.oc-section-profil
{
  margin: auto;
}
.section-deventure
{
	    text-align: center;
	    background-image: url(imgback/backprofil.jpg);
	   
	    height: 100%;
}
.oc-tablinscri
{
    margin: auto;
    background-color: #091114a1;
    padding: 3%;
    border: #07829ade solid 3px;
    margin-top: 3%;
    box-shadow: #0039a2 5px 5px 11PX;
    color: white;
}
.buton-inscription
{
    width: 35%;
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: #00bcd4ba;
    font: bold 13px Arial;
    color: #fff;
    box-shadow: 2px 2px black;
}
.oc-zindex-profil
{

}
.oc-titreh
{
	    color: white;
        font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px #448dee;
}
.oc-tablinscri
 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

}
.oc-zindex-profil-definir-admin
{
  background-color: #df0e0e;
 height: 28px;
    border: solid 2px #3F51B5;
    box-shadow: 2px 2px 4px #1c568f;
    color: white;
}