.oc-img-profil
{
	border: solid #5b036d 3PX;
    width: 14%;
    height: 26%;
    border-radius: 100%;
}
.section-deventure
{
	    text-align: center;
	    background-image: url(imgback/backprofil.jpg);
	   
	    height: 100%;
}
.oc-tablinscri
{
	margin: auto;
    background-color: #695a91c2;
    padding: 3%;
    border: #5b036d solid 3px;
    margin-top: 3%;
    box-shadow: #a20000 5px 5px 11PX;
    color: white;
}
.oc-titreh
{
	    color: white;
}