html
{
	overflow-X:hidden;
}

body {
	background:#73CFC9;
	margin:0;
	padding:0;
}


main {
	display:flex;
	min-height:90vh;
	
}
.flex {
	display:flex;
}

.flexc {
	display:flex;
	flex-direction:column;
}

.center {
	align-self:center;
}

.just-between {
	justify-content:space-between;
}

.just-around {
	justify-content:space-around;
}

.just-center
{
	justify-content:center;
}

.a-null {
	text-decoration:none;
	color:black;
}

/*---------------------------------------- HEADER ----------------------------------------*/

header
{
	display: flex;
	justify-content: space-around;
    background: #e4e4e4;
   padding: 1%;
    
}


footer
{
	justify-content: space-around;
    background: #e4e4e4;
    height: 4em;
	align-items:center;
}

.oc-color-blue
{
	color: blue;
	text-shadow: 3px 2px 4px black;
    
}
.oc-color-white
{
	color: white;
    text-shadow: 3px 2px 4px black;
    
}
.oc-color-red
{
	color: red;
	text-shadow: 3px 2px 4px black;
    
}


/*---------------------------------------- FORUM ----------------------------------------*/

.forum-box {
	height:92vh;
	width:33%;
	
	border-radius:10px;
	bordeR:2px solid black;
	
	margin:10px 10px 10px 10px;
	overflow-Y:scroll;
	overflow-X:hidden;
}

.forum-box>div {
	border-radius:10px;
	margin:5px;	
	transition:background 0.15s ease;
	width:100%;
	height:fit-content:
}

.forum-box::-webkit-scrollbar {
	width: 10px;
}

.forum-box::-webkit-scrollbar-track {
	border-radius:0px 10px 10px 0px;
}

.forum-box::-webkit-scrollbar-thumb {
	background: #888;
	border-radius:10px 10px 10px 10px;
}

.forum-box::-webkit-scrollbar-thumb:hover {
	background: #555;
}

#topic-box , #topic-box::-webkit-scrollbar-track{
	background-color:#78C0E0;
}

#topic-box::-webkit-scrollbar-thumb {
	background:#B5DCEE;
}

#discussion-box , #discussion-box::-webkit-scrollbar-track{
	background-color:#449DD1;	
}

#discussion-box::-webkit-scrollbar-thumb {
	background:#99C9E5;
}

#message-box , #message-box::-webkit-scrollbar-track{
	background-color:#6C78D8;
}

#message-box::-webkit-scrollbar-thumb {
	background:#AEB5E9;
}


.topic {
	min-height:150px;
	background-color:#B5DCEE;
}

.topic:hover {
	background-color:#84A1AE;
}

.creator-link
{
	width:5em;
}

.discussion {
	background-color:#99C9E5;
}

.discussion:hover {
	background-color:#7093A7;
}

.message {
	background-color:#AEB5E9;
	max-width:100%;
	height:fit-content;
	word-wrap:break-word;
}

.message:hover {
	background-color:#7F84AA;
}

.message>*{
	margin:5px;
}

.currTopic {
	background:#84A1AE;
}

.currDiscussion {
	background:#7093A7;
}

.topicPic {
	width:100px;
	height:80px;
	border:4px solid black;
	border-radius:10px;
	background-size:100% 100%;
	align-self:center;
}

.topic-title {
	font-size:1.5em;
	text-align:right;
}

.topic-infos {
	margin:auto;
	width:70%;
}

.topic-infos span {
	align-self:flex-end;
	text-decoration:underline;
	margin-top:-5em;
}

.stat-value b{
	font-size:1.3em;
	text-align:center;
}

.created-zone {
	margin:5px;
}


.created-zone b {
	width:fit-content;
	text-align:center;
	margin:auto;
}

.delete img{
	width:1.2em;
	height:1.2em;
	background:red;
	border-radius:0.2em;
}

.topic .delete img
{
	position:relative;
	top:1em;
	left:1em;
}

.discussion .delete img
{
	position:relative;
	right:0.5em;	
	top:0.5em;
}

.message .delete img
{
	position:relative;
	left:0.5em;	
	margin:0px;
}

.disc-profil {
	margin:5px;
	width:100%;
}

.disc-profilPic {
	width:70px;
	height:70px;
	
	border:4px solid black;
	border-radius:10px;
}

.disc-info-auteur {
	text-align:left;
	margin-top:0px;
	margin-left:5px;
	font-size:1.1em;
}

.disc-titre {
	font-size:1.5em;
}

.disc-stat b
{
	text-align:center;
	font-size:1.5em;
}

.disc-stat {
	margin:5px;
	align-self:center;
	font-size:1.2em;
}

.disc-form
{
	display:flex;
	
}

.disc-form input[type="text"]{
	width:80%;
	height:20px;
	font-size:1.2em;
	border-radius:7.5px;
	border:0px;
	margin:10px;
}

.disc-form input[type="submit"] {
	background-color:#78C0E0;
	border-radius:5px;
	border:0px;
	font-size:1.2em;
	margin-top:1px;
	cursor:pointer;
	transition:background 0.15s ease;
	height:2em;
	align-self:center;
}

.disc-form input[type="submit"]:hover {
	background:#7093A7;
}

.topic-form
{
	display:flex;
	
}

.topic-form input[type="text"]{
	width:80%;
	height:20px;
	font-size:1.2em;
	border-radius:7.5px;
	border:0px;
	margin:10px;
}

.topic-form input[type="file"]{
	margin:auto;
	align-self:center;
}

.topic-form input[type="submit"] {
	background-color:#449DD1;
	border-radius:5px;
	border:0px;
	font-size:1.2em;
	margin-top:1px;
	cursor:pointer;
	transition:background 0.15s ease;
	height:2em;
	width:90%;
	margin:auto;
	margin-top:0.5em;
	align-self:center;
}

.topic-form label
{
	align-self:center;
}

.topic-form input[type="submit"]:hover {
	background:#7093A7;
}



}

.disc-form input[type="submit"]:hover {
	background:#7093A7;
}


.disc-form textarea{
	min-width:80%;
	min-height:40px;
	max-width:80%;
	font-size:1.2em;
	border-radius:7.5px;
	margin:10px;
	border:0px;
}

.thumb-btn
{
	height:20px;
	transition:all 0.3s ease;
	margin-top:-3px;
}

.thumb-btn:hover
{
	transform:rotate(20deg);
}

.like-zone
{
	width:4em;
	min-height:3em;
}

.like-zone div
{
	margin:3px;
}

.like-zone div a img
{
	align-self:flex-start;
}

.like-zone div p
{
	margin-top:0px;
	text-align:center;
}

.discussion-infos
{
	max-width:7em;
}

.discussion-title
{
	width:80%;
	margin-left:1em;
}

/*----------------------------------Profil---------------------------------*/



main
{
}
.oc-supression-user
{
  color: red;
}
.oc-img-profil
{
	border: solid #07829ade 3PX;
    width: 14%;
    height: 26%;
    border-radius: 100%;
    box-shadow: #0039a2 5px 5px 11PX;
}
.oc-section-profil
{
  margin: auto;
}

.oc-main-inscription-forum
{
    display: flex;
    flex-direction: column;
}

.oc-body-incription
{
	text-align: center;
	width: 100%;
}


.section-deventure
{
	    text-align: center;
	    background-image: url(imgback/backprofil.jpg);
	   
	    height: 100%;
}
.oc-tablinscri
{
    width: 110%;
    margin: auto;
    background-color: #091114a1;
    padding: 3%;
    border: #07829ade solid 3px;
    margin-top: 3%;
    box-shadow: #0039a2 5px 5px 11PX;
    color: white;
}
.buton-inscription
{
    width: 35%;
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 8px;
    background: #00bcd4ba;
    font: bold 13px Arial;
    color: #fff;
    box-shadow: 2px 2px black;
}
.oc-zindex-profil
{

}
.oc-titreh
{
	    color: white;
        font-size: 30px;
    font-family: cursive;
    text-shadow: 2px 2px #448dee;
}
.oc-tablinscri
 {

    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

}
.oc-zindex-profil-definir-admin
{
  background-color: #df0e0e;
 height: 28px;
    border: solid 2px #3F51B5;
    box-shadow: 2px 2px 4px #1c568f;
    color: white;
}

